/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Syne:wght@400..800&display=swap");
@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/images/space7.jpg"); /* Update with the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Increase opacity for a darker effect */
  z-index: -1;
}

@font-face {
  font-family: "Bangla";
  src: url("./assets/bangla.ttf") format("opentype");
  font-style: normal;
}
